<section class="section article" id="article">
  <div class="container article-conteiner">
    <div class="article-text-content">
      <h2 class="title article-title">
        Welcome to Booksy - your cozy corner for handpicked reads.
      </h2>
      <p class="article-text">
        We believe books are more than just stories - they&#39;re companions,
        doorways, and memories. Whether you&#39;re chasing adventures or quiet
        moments, we&#39;re here to help you find your next favorite book.
      </p>
    </div>
    <picture class="article-image">
      <source
        srcset="
          ../img/article/article.webp    1x,
          ../img/article/article@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ../img/article/article-tablet.webp    1x,
          ../img/article/article-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/article/article-mobile.webp    1x,
          ../img/article/article-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="/img/article/article-mobile.webp 1x,
	  ../img/article/article-"
        alt="A person reading in a cozy book room"
      />
    </picture>
  </div>
</section>
