<section class="section location" id="location">
  <div class="container">
    <div class="location-section">
      <div class="location-text">
        <p class="loc-sec">Location</p>
        <h1 class="loc-title">How to find us</h1>
        <p class="loc-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <ul class="loc-list">
        <li class="loc-link">
          <svg class="loc-icon" width="24" height="25">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <p class="loc-link-text">
            Email
            <a class="contact-link" href="mailto:hello@booksy.com"
              >hello@booksy.com</a
            >
          </p>
        </li>
        <li class="loc-link">
          <svg class="loc-icon" width="24" height="25">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <p class="loc-link-text">
            Phone
            <a class="contact-link" href="tel:+61 (241) 304-3012"
              >+61 (241) 304-3012</a
            >
          </p>
        </li>
        <li class="loc-link">
          <svg class="loc-icon" width="24" height="25">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <div class="link-text">
            <p class="loc-link-text">Office</p>
            <p class="contact-text">123 Books St, Sydney NSW 2000 AU</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="contact-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13250.515292537093!2d151.20443168790595!3d-33.87345550578001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e0!3m2!1suk!2sua!4v1751549223563!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
