.events h4 {
  margin-bottom: 0;
}
.events h2 {
  font-size: 36px;
  margin-top: 16px;
}

.events p {
  font-size: 18px;
  margin-top: 16px;
}

.event-image {
  border-radius: 16px;
  width: 100%;
  height: 277px;
}

.swiper-wrapper {
  margin-top: 32px;
}
.swiper-wrapper svg {
  transform: rotate(90deg);
}
.swiper-wrapper h3 {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-wrapper p {
  font-size: 16px;
  margin-top: 0;
}

.swiper-wrapper .card-text {
  margin-top: 8px;
}

.event-register {
  display: flex;
  margin-top: 24px;
  font-size: 16px;
  width: 95px;
  transition: opacity var(--time) var(--transition);
}

.event-register:hover,
.event-register:focus {
  opacity: 0.75;
}

.event-second .event-register {
  margin-top: 58px;
}
.event-third .event-register {
  margin-top: 58px;
}

.swiper-button-prev svg {
  transform: rotate(-90deg);
}
.swiper-button-next svg {
  transform: rotate(90deg);
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
  background-color: #e15d05;
  padding: 12px;
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--time) var(--transition),
    fill var(--time) var(--transition);
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  background-color: transparent;
  fill: black;
  border: 1px solid rgb(11, 5, 0, 15%);
}
.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: #5a2502;
  fill: white;
}

.swiper-controls {
  display: flex;
  gap: 16px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #c5b9b2;
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #0b0500;
}
.event-controler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.swiper-button-disabled {
  opacity: 0.2;
  fill: #0b0500;
  pointer-events: none;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .events p {
    max-width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  .events h2 {
    font-size: 48px;
  }
  .event-third .event-register {
    margin-top: 82px;
  }
  .event-controler {
    display: none;
  }
}
