/* FOOTER */
body {
    margin: 0;
}
.footer {
    background-color: var(--footer);
    padding: 80px 0px;    
}

.footer-left {
    display: flex;
    flex-direction: column;
}
.footer-logo-link {
    margin: 0 auto 32px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto 32px;
    gap: 32px;
}

.footer-nav-link {
    font-size: 16px;
    transition: color var(--time) var(--transition);
}

.footer-nav-item .active {
    color: rgba(11, 5, 0, 0.8);
}

.foter-nav-link:hover,
.footer-nav-link:focus {
    color: var(--primary);
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-form-text {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.container-footer-form {
    margin-bottom: 80px;
}

.footer-email-field {
    border-radius: 8px;
    border: 1px solid rgba(11, 5, 0, 0.15);
    width: 221px;
    height: 48px;
    background-color: rgba(11, 5, 0, 0.05);
    padding: 12px;
    margin-right: 16px;
    font-family: inherit;
}

.footer-email-field::placeholder {
    color: rgba(11, 5, 0, 0.6);
    font-size: 16px;
}

.footer-btn {
    border: 1px solid #0B0500;
    border-radius: 4px;
    width: 106px;
    height: 48px;
    background-color: var(--footer);
    font-size: 16px;
    transition: background-color var(--time) var(--transition),
    color var(--time) var(--transition);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--primary);
    color: #fff;    
}

.footer-btn:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: not-allowed; 
}

.footer-afterform-text {
    margin-top: 12px;
    font-size: 12px;
}

.footer-company-text {
    font-size: 14px;
    padding-top: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-nav {
        flex-direction: row;
    }
    .container-footer-form {
        display: block;
        margin: 0 152px 80px 152px;
    }
    .footer-email-field {
        width: 278px;
    }
    .footer-company-text {
        margin: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .footer-logo-link {
        margin: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin: 0;
        padding: 0;
    }

    .container-footer-form {
        margin: 0;
    }

    .footer-company-text {
        margin: 80px 0 0 0;
        padding-top: 32px;     
    }
}