/* HEADER */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
}

.header-nav {
  display: none;
}
.burger-btn {
  padding: 0;
  background-color: transparent;
}
.burger-icon {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding: 16px 0px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-nav-link.active {
    color: var(--primary);
  }
  .header-nav-link {
    font-size: 16px;
    color: rgba(11, 5, 0, 0.6);
    transition: transform var(--time) var(--transition);
  }
  .burger-btn {
    display: none;
  }
  .header-nav-link:hover {
    color: var(--primary);
  }
  .header-nav-link:focus {
    color: #dad9d8;
  }
}

@media screen and (min-width: 1440px) {
}
