/* HERO */

.hero {
  padding: 0px 16px 32px 16px;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.swiper-img {
  border-radius: 8px;
}

.banner-content {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.banner-text {
  font-size: 20px;
  margin-bottom: 16px;
  color: #fff;
}
.first-subtitle {
  max-width: 170px;
}

.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.52px solid var(--orange);
  border-radius: 2px;
  padding: 4px 10px;
  width: 117px;
  height: auto;
  background-color: var(--orange);
  font-weight: 400;
  font-size: 8px;
  color: #fff;
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  max-width: 340px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--primary);
}
.hero-arrows-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0px 32px 32px 32px;
  }
  .swiper-img {
    border-radius: 0px;
  }

  .banner-content {
    bottom: 32px;
    left: 40px;
  }
  .banner-text {
    font-size: 32px;
    line-height: 1.2;
  }
  .first-subtitle {
    max-width: 270px;
  }
  .second-subtitle {
    max-width: 200px;
  }
  .third-subtitle {
    max-width: 380px;
  }
  .fourth-subtitle {
    max-width: 380px;
  }
  .banner-btn {
    padding: 4px 20px;
    width: 164px;
    font-size: 16px;
    border: 1px;
    border-radius: 4px;
    color: #fff;
  }

  .banner-btn:hover,
  .banner-btn:focus {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    transition: var(--time) var(--transition);
  }

  .title-wrapper {
    padding: 0px 32px;
    margin: 0 auto;
  }

  .hero-title {
    max-width: 560px;
  }

  .hero-arrows-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .left-btn {
    transform: rotate(-90deg);
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--orange);
  }

  .right-btn {
    transform: rotate(90deg);
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--orange);
  }

  .hero-arrows-btn-icon {
    fill: #fff;
  }

  .hero-arrows-btn-icon:hover,
  .hero-arrows-btn-icon:focus {
    fill: var(--primary);
    transition: var(--time) var(--transition);
  }

  .left-btn:hover,
  .left-btn:focus,
  .right-btn:hover,
  .right-btn:focus {
    background: #fceee6;
    transition: var(--time) var(--transition);
  }
  .left-btn:active,
  .right-btn:active {
    background: #5a2502;
    transition: var(--time) var(--transition);
  }
  .left-btn:disabled,
  .right-btn:disabled {
    opacity: 0.2;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 0px 64px 32px 64px;
  }
  .swiper-img {
    border-radius: 16px;
  }

  .banner-content {
    bottom: 56px;
    left: 56px;
  }

  .banner-text {
    font-size: 52px;
  }

  .first-subtitle {
    max-width: 390px;
  }
  .second-subtitle {
    max-width: 380px;
  }
  .third-subtitle {
    max-width: 551px;
  }
  .fourth-subtitle {
    max-width: 560px;
  }

  .banner-btn {
    width: 227px;
    border-radius: 4px;
    padding: 8px 20px;
  }
  .title-wrapper {
    padding: 0px 64px 32px 64px;
  }
  .hero-title {
    max-width: 1168px;
    height: 62px;
    font-size: 52px;
  }
}
