/* HERO */

.swiper-slide {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.swiper-img {
  border-radius: 8px;
}

.banner-content {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.banner-text {
  font-size: 20px;
  margin-bottom: 16px;
  color: #fff;
}
.swiper-slide:nth-child(1) .banner-text {
  max-width: 170px;
}
.swiper-slide:nth-child(2) .banner-text {
  max-width: 150px;
}
.swiper-slide:nth-child(3) .banner-text {
  max-width: 215px;
}
.swiper-slide:nth-child(4) .banner-text {
  max-width: 228px;
}

.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.52px solid var(--orange);
  border-radius: 2px;
  padding: 4px 10px;
  width: 117px;
  height: auto;
  background-color: var(--orange);
  font-weight: 400;
  font-size: 8px;
  color: #fff;
  transition: transform (--time) var(--transition);
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  max-width: 340px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--primary);
}
.hero-arrows-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .swiper-img {
    border-radius: 11px;
  }

  .banner-content {
    bottom: 32px;
    left: 40px;
  }
  .banner-text {
    font-size: 32px;
    line-height: 1.2;
  }
  .swiper-slide:nth-child(1) .banner-text {
    max-width: 270px;
  }
  .swiper-slide:nth-child(2) .banner-text {
    max-width: 200px;
  }
  .swiper-slide:nth-child(3) .banner-text,
  .swiper-slide:nth-child(4) .banner-text {
    max-width: 380px;
  }

  .banner-btn {
    padding: 4px 20px;
    width: 164px;
    font-size: 16px;
    border: 1px;
    border-radius: 4px;
    color: #fff;
  }

  .banner-btn:hover,
  .banner-btn:focus {
    border: 1px solid var(--primary);
    background-color: var(--primary);
  }

  .hero-title {
    max-width: 560px;
  }

  .hero-arrows-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .left-btn {
    transform: rotate(-90deg);
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--orange);
    transition: transform (--time) var(--transition);
  }

  .right-btn {
    transform: rotate(90deg);
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--orange);
    transition: transform (--time) var(--transition);
  }
  .right-btn:disabled,
  .left-btn:disabled,
  .banner-btn:disabled {
    cursor: default;
  }

  .hero-arrows-btn-icon {
    fill: #fff;
  }

  .left-btn:not(:disabled):hover .hero-arrows-btn-icon,
  .left-btn:not(:disabled):focus .hero-arrows-btn-icon,
  .right-btn:not(:disabled):hover .hero-arrows-btn-icon,
  .right-btn:not(:disabled):focus .hero-arrows-btn-icon {
    fill: var(--primary);
  }

  .left-btn:not(:disabled):hover,
  .left-btn:not(:disabled):focus,
  .right-btn:not(:disabled):hover,
  .right-btn:not(:disabled):focus {
    background: #fceee6;
  }
  .left-btn:not(:disabled):active,
  .right-btn:not(:disabled):active {
    background: #5a2502;
  }

  .left-btn:not(:disabled):active .hero-arrows-btn-icon,
  .right-btn:not(:disabled):active .hero-arrows-btn-icon {
    fill: #fff;
  }
  .left-btn:disabled,
  .right-btn:disabled {
    opacity: 0.2;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-img {
    border-radius: 16px;
  }

  .banner-content {
    bottom: 56px;
    left: 56px;
  }

  .banner-text {
    font-size: 52px;
  }

  .swiper-slide:nth-child(1) .banner-text {
    max-width: 390px;
  }
  .swiper-slide:nth-child(2) .banner-text {
    max-width: 380px;
  }
  .swiper-slide:nth-child(3) .banner-text {
    max-width: 551px;
  }
  .swiper-slide:nth-child(4) .banner-text {
    max-width: 560px;
  }

  .banner-btn {
    width: 227px;
    border-radius: 4px;
    padding: 8px 20px;
  }

  .hero-title {
    max-width: 1168px;
    height: 62px;
    font-size: 52px;
  }
}
