/* LOCATION */
.section .location {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.location .container {
   grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "info"
      "map";
  gap: 32px;
}

.location-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loc-sec {
  font-weight: 600;
  font-size: 16px;
}

.loc-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
}

.loc-text {
  font-size: 18px;
  line-height: 1.5;
  color: #0b0500;
}

.loc-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 40px;
}

.loc-link {
  display: flex;
  gap: 16px;
}

.loc-link-text {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0b0500;
}

.contact-link:hover,
.contact-link:focus {
  opacity: 0.2;
}
.contact-text {
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
}

.contact-map {
     grid-area: map;
  display: block;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .section.location {
    gap: 80px;
  }
  .location .container {
     display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text info"
    "map map";
    gap: 32px;
    padding-bottom: 48px;
  }

  .loc-text {
    max-width: 336px;
  }

    .contact-map {
     width: 704px;
    height: 395px;
  }
}

@media screen and (min-width: 1440px) {
  .location .container {
    gap: 80px;
  }
  .loc-text {
    max-width: 732px;
  }

  .contact-map {
    width: 1312px;
    height: 738px;
      }
}
