.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: none; 
  z-index: 1000;
  transition: opacity var(--time) var(--transition);
}

.scroll-to-top.show {
  display: block;
  opacity: 1;
}